@import "bootstrap/scss/bootstrap";
@import "./sidebar-menu";

html,
body,
#root {
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $dark;
}

// .main-wrapper {
//   width: 100%;
//   height: 100%;
//   background: #f3f4f6;
//   position: relative;
//   display: grid;
//   grid-template-columns: auto 1fr;
//   grid-template-rows: auto 1fr;
//   grid-template-areas:
//     "sidebar header"
//     "sidebar main";
// }
.main-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
  height: 100%;
  width: 100%;

}

.home {
  background-color: red;
}

.main-header {
  grid-area: header;
  padding: 0.5rem 0;
}

.container-header {
  max-width: 100%;
}


.main-container {
  grid-area: main;
  box-shadow: inset 2px 1px 9px 1px rgba($dark, 0.10);
  overflow: auto;
  padding-top: clamp(1rem, 4vw, 3rem);
  padding-left: clamp(1rem, 4vw, 15rem);
  padding-right: clamp(1rem, 4vw, 15rem);
  background-color: $gray-500;
  border-radius: 5px;
}

.MuiBox-root {
  // border: 1px solid; 
  gap: 0px !important
}

.MuiBox-root, .MuiTimeline-root{
  padding: 0px !important
}

.app-logo {
  height: 38px;
  object-fit: contain;
  transform: translateY(-6px);
}

.nav-title {
  width: 100%;
}

.sidebar-header {
  margin-left: auto;
  margin-right: auto;
}

.sidebar-menu {
  padding-top: 0;
  flex-direction: column;
  grid-area: sidebar;
  overflow-y: auto;
}

.sidebar-menu-collapse.show {
  width: 250px;

}

.sidebar-menu-collapse {
  min-width: 60px;
  
}

.sidebar-menu-dark .sidebar-menu-sub-toggle .sidebar-menu-nav-icon {
  margin-right: -10px;
  background-image: none;
}

.option-menu {
  width: 100%;
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.font-xxs {
  font-size: 10px;
}

.font-xs {
  font-size: 14px;
}

.font-m {
  font-size: 18px;
}

.input:focus {
  box-shadow: none !important;
  border: 1px solid var(--bs-border-color);;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}